{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  {% bootstrap_css %}
  <title>PJT07</title>
</head>
<body>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'community:index' %}">index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'community:create' %}">create</a>
    </li>
    {% if request.user.is_authenticated %}
      <li class="nav-item">
        <form class="nav-link" action="{% url 'accounts:logout' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="logout">
        </form>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">signup</a>
      </li>
    {% endif %}
  </ul>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  {% bootstrap_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>