{% extends 'base.html' %}
{% block title %}
  ping
{% endblock title %}

{% block content %}
  <h1>ping</h1>

  {% comment %} 
    action => 수신인(목적지), url
    method => 공개 / 비공개 여부 => GET, POST, ...
    GET: 모든 데이터가 (URL)에 공개되어 전송, URL making, default
    POST: 데이터가 URL에 공개되지 않음

    input은 항상 form 안에 쓰기, label 꼭 붙이기 (label은 사람용)
  {% endcomment %}

  {# (현재도메인)/practice0309/pong/ => 상대경로 #}
  {# 위에는 하드코딩, urls.py의 name을 활용하기, {% url 'name' %} #}
  {# 요청과 form에 있는 데이터가 urls.py의 pong으로 감 => views.pong => pong.html #}
  <form action="{% url 'practice0309:pong' %}" method="GET">  
    <label for="kr-name">한글이름</label>  {# label과 input을 for와 id로 연결 #}
    <input type="text" name="kr-name" id='kr-name'>  {# name = key, url에 담겨서 전송됨, name없어도 브라우저에는 남아있지만 데이터가 넘어가지 않음 #}

    <label for="en-name">English name</label>  
    <input type="text" name="en-name" id='en-name'>

    <input type="submit" value="전송">  {# value default는 제출, name없어도 됨 #}
  </form>
{% endblock content %}